
.App {
  display: flex;
  height: 100vh;
}

.explorer {
  display: flex;
  width: 100%;
}

.left-pane, .right-pane {
  flex: 1;
  border: 1px solid #ccc;
  padding: 10px;
  overflow-y: auto;
}

.folder > div {
  cursor: pointer;
}

.folder .children {
  padding-left: 20px;
}

.active {
  font-weight: bold;
}

.file-content img {
  max-width: 100%;
  height: auto;
}